$fnt-sz-small: 0.8125rem;
$fnt-sz-normal: 1rem;
$fnt-sz-medium: 1.5rem;
$fnt-sz-large: 2rem;
$fnt-sz-xlarge: 3rem;
$fnt-sz-btn: 1.25rem;

$clr-pri: #00474B;
$clr-white: #FFF;
$clr-sec: #26C2AE;
$clr-label: #5E7A7D;
$clr-input-bg: #F3F9FA;
$clr-per-person: #7F9D9F;
$clr-err-text: #E17457;
$clr-err-input: #E17052; 
$clr-btn-hover: #9FE8DF;

$gap: 2rem;

$border-radius: .25rem;